# This script contains the following:
## 1. Import libraries and data
## 2. Bar chart top stations 
## 3. Dual axis plot

### 1. Import libraries and data

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')


print("Libraries imported successfully!")

Libraries imported successfully!

In [2]:
%matplotlib inline

In [3]:
# Import top 20 stations data
top20 = pd.read_csv("top20_stations.csv")

In [4]:
# Check import
top20.head()

                 station  trip_count
0        W 21 St & 6 Ave      128909
1  West St & Chambers St      123141
2     Broadway & W 58 St      114174
3        6 Ave & W 33 St      106322
4        1 Ave & E 68 St      104773

In [5]:
# Import trip vs temp data
daily = pd.read_csv("daily_trips_vs_temp_2022.csv")

In [6]:
# check import
daily.head()

         date  trip_count  avg_temp
0  2022-01-01       20428      11.6
1  2022-01-02       43009      11.4
2  2022-01-03       33189       1.4
3  2022-01-04       36842      -2.7
4  2022-01-05       34230       3.2

In [7]:
# Ensure data is a datetime
daily["date"] = pd.to_datetime(daily["date"])

In [8]:
print(daily.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        365 non-null    datetime64[ns]
 1   trip_count  365 non-null    int64
 2   avg_temp    365 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 8.7 KB
None

In [9]:
print(top20.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   station     20 non-null     object
 1   trip_count  20 non-null     int64
dtypes: int64(1), object(1)
memory usage: 448.0+ bytes
None

### 2. Bar chart top stations

In [ ]:
# Create plotly bar chart
fig = go.Figure(go.Bar(
    x=top20['station'],
    y=top20['trip_count']
))

fig.update_layout(
    title="Top 20 Start Stations by Trips (2022)",
    xaxis_title="Station",
    yaxis_title="Number of Trips",
    template="plotly_white"
)

fig.show()

In [11]:
# Save as interactive html 
fig.write_html("visualisations/top20_stations_bar_chart.html")

### 3. Dual axis Plot

In [ ]:
# Create a subplot with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

# Left axis: Trips (bars) – use viridis palette tone
fig.add_trace(
    go.Bar(
        x=daily["date"],
        y=daily["trip_count"],
        name="Trips",
        marker_color=px.colors.sequential.Viridis[2],  # mid-tone Viridis
        opacity=0.75
    ),
    secondary_y=False
)

# Right axis: Temperature (line) – another viridis tone
fig.add_trace(
    go.Scatter(
        x=daily["date"],
        y=daily["avg_temp"],
        name="Average Temperature (°C)",
        mode="lines",
        line=dict(color=px.colors.sequential.Viridis[-2], width=2)
    ),
    secondary_y=True
)

# Layout styling
fig.update_layout(
    title="Daily Citi Bike Trips vs Average Temperature (2022)",
    xaxis_title="Date",
    hovermode="x unified",
    template="plotly_white",  # keep clean look; viridis gives color contrast
    legend_title_text="Metric"
)

# Axis labels
fig.update_yaxes(title_text="Trips", secondary_y=False)
fig.update_yaxes(title_text="Avg Temperature (°C)", secondary_y=True)

fig.show()

In [14]:
# Check trips
daily["date"].nunique(), len(daily)

(365, 365)

In [15]:
# Save
fig.write_html("visualisations/daily_trips_vs_temp_2022.html")
print("Saved HTML file in visualisations folder")

Saved HTML file in visualisations folder